.container{

    display:flex;
    flex-direction: column;
    box-sizing: border-box;


    h2{
        text-align: center;
    }
    .headerContainer{
        display:flex;
        justify-content: center;
        margin-top:3rem;
    }
}
@media screen and (min-width: 374px) {
    .setInformation {
      font-size: 0.8rem;
      padding-left:20px;
      padding-right:20px;
    }
    .setImage{
        width:80%;
    }
    .setInfoText{
        font-size: .8rem;
        max-width:100px;
        text-align: center;
    }
    .cardSlot{
        max-width:95%;
        padding:7px;
        
        
        img{
            height:250px;
            align-self: center;
        }
        .cardInfo{
            margin-top:0px;
        }
    }
    .sortButtons{
        gap:1rem;
        font-size:1rem;
        .sortArrow{
            margin-left:1rem;
        }
        .searchBar{
            width:150px;
            font-size: 1;
            padding-left: .5rem;
        }
    }
    .priceValues{
        font-size:.8rem;
        gap:1.3rem;
    }
  }

  @media screen and (min-width: 500px) {
    .container{
        width:95%;
        justify-content: center;
    }
    .setImage{
        width:50%;
        max-width:500px;
    }
    .cardSlot{
        max-width:95%;
        padding:10px;
        
        img{
            height:300px;
        }
        .cardInfo{
            margin-top:0px;
        }
    }
    .setInformation {
      font-size: 0.8rem;
      padding-left:20px;
      padding-right:20px;
      gap:1rem;
    }
    .sortButtons{
        gap:1rem;
        font-size:.5rem;
        .sortArrow{
            margin-left:.5rem;
        }
        .searchBar{
            width:120px;
            font-size: .65rem;
            padding-left: .5rem;
        }
    }
    .priceValues{
        font-size:.8rem;
        gap:1.3rem;
    }
    .setInfoText{
        font-size:1rem;
        max-width:none;
        text-align: center;
    }
  }
  @media screen and (min-width: 800px) {
  .cardSlot{
    max-width:95%;
    padding:10px;
    
    img{
        height:300px;
    }
    .cardInfo{
        margin-top:0px;
    }
    .priceValues{
        font-size:1.2rem;
        gap:1.3rem;
    }
}
  }
  @media screen and (min-width: 1200px) {
    .setCards {

      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    }
    .setInfoText{
        font-size:1.4rem;
        max-width:none;
        text-align: center;
    }
    .setInformation {
      font-size: 1.4rem;
    }
    .sortButtons{
        gap:2rem;
    
        
        .sortButton{
            font-size:1.3rem;
        }
        .searchBar{
            width:400px;
            font-size: 1.2rem;
            padding-left: 1rem;
        }
    }
    .cardSlot{
        max-width:95%;
        padding:10px;
        
        img{
            height:350px;
        }
        .cardInfo{
            margin-top:0px;
        }
        .priceValues{
            font-size:1rem;
            gap:1rem;
        }
    }
   
  }
  .setCards{
    display:grid;
 
    gap:16px;
    justify-content: center;
    grid-auto-columns:min-content;
    
    label{
        color:rgb(192, 192, 192);
    }
    .cardSlot{
        display:flex;
        background-color: rgb(61, 61, 61);
        border-radius: 10px;
        .cardInfo{
            display:flex;
            width:100%;
            flex-direction: column;
            margin-left:1rem;
            margin-top:1rem;
            .cardSetInfo{
                display:flex;
                font-weight:600;
           
                font-size:14px;
                .fromSet{
                    color:rgb(163, 162, 162);
                    width:100%;
                    transition:color .2s,drop-shadow 1s;
                    &:hover{
                        color:rgb(96, 124, 206);
                        filter:drop-shadow(0px 0px 5px rgb(96, 124, 206));
                        cursor:pointer;
                    }
                }
            }
            .rarityArtist{
                display:flex;
                font-size:.9rem;
         
                .rarity{
                    width:50%;
                }
                
            }
            .cardName{
                
                font-weight:600;
                font-size: 1.5rem;
            }
            .numberInSet{
               
                .cardNumber{
                    font-weight:600;
                    font-size:.9rem;
                }
            }
           
            .cardRarity{
                font-weight:600;
            }
           
        }
    }
} 
.priceValues{
    display:flex;

    width:100%;
    justify-content: center;
    label{
        font-size:.8rem;
    }
    .priceLow{
        color:rgb(255, 80, 80);
        
    }
    .priceHigh{
        color:rgb(90, 214, 165);
    }
    .priceContainer{
        display:flex;
        flex-direction: column;
    }
}
.sortButtons{
    display:flex;
    width:95%;
    justify-content: center;
 
    
    .sortButton{
        display:flex;
        width:150px;
        height:40px;
        justify-content: space-around;
        align-items: center;
        font-weight:600;
       
        border-radius: 10px;
        border: none;
        background-color: rgb(47, 62, 108);
        transition:background-color .4s;
        &:hover{
            background-color: rgb(78, 102, 173);
        }
    }
    .searchBar{
        border-radius: 10px;
        font-weight:600;
        border:none;
        transition:outline .2s;
 
        transition: filter .2s;
        &:hover{
            filter:drop-shadow(0px 0px 5px rgb(116, 151, 255));
        }
        &:focus{
            outline: 2px solid rgb(231, 237, 255) ;
            filter:none
        }
    }
    margin-bottom:2rem;
}

.activeSortButton{
    filter:drop-shadow(0px 0px 5px rgb(116, 151, 255));
}
.sortArrow{
    display:flex;
    flex-direction: column;
    margin-top:2px;
    .arrowDown {
        border: solid rgb(102, 102, 102);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom:2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        
      }
      .arrowUp {
        border: solid rgb(102, 102, 102);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom:2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-135deg);
        
      }
    
}
.activeSortAsc{
    .arrowDown{
        border: solid white;
        border-width: 0 3px 3px 0;
    }
 
   
 }
 .activeSortDesc{
    .arrowUp{
        border:solid white;
        border-width: 0 3px 3px 0;

    }
 }
 .cardPrices{
    margin-top:1rem;
 }