.navContainer{
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    width:280px;
    z-index: 10;
    height:100%;

    border-right:1px solid rgb(47, 62, 108);
    background-color: rgb(36, 36, 36);
    .seriesList{
        margin-left:2rem;
        list-style: none;
        padding-right:10px;
        li{
            align-content: center;
            min-height:30px;
            border-radius: 15px;
        }
        button{
            background:none;
            
            border:1px solid white;
            border-radius: 50%;
            transition: background-color .2s;
            &:hover{
                background-color: white;
            }
        }
        .seriesContainer{
            display:flex;
            flex-direction:column;
            min-width:200px;
            font-weight:600;
            justify-content: space-around;
            position:relative;
            margin-bottom:.5rem;
       
            z-index: 2;
            .listSets{
                z-index: 0;
                display:none;
                transform-origin: top;
                animation: slideDown ease-in .3s;
            
                ul{
                    list-style: none;
                    margin-top:1rem;
                    margin-left:1rem;

                    li{
                        padding:10px;
                        transition: background-color .5s;
                        &:hover{
                            background-color: rgb(131, 129, 129);
                        }
                    }
                }
            }
            .seriesNameText{
                display:flex;
                justify-content: space-around;
                border-radius: 10px;
                padding:10px;
                transition:background-color .5s;
                &:hover{
                    background-color: rgb(131, 129, 129);
                }
                p{
                    width:200px;
                }
            }
        }
        .seriesContainer.active{
            .seriesNameText{
                background-color: rgb(131, 129, 129);
                &:hover{
                    background-color: rgb(184, 184, 184);
                }
            }
            .listSets{
                display:block;
            }
             .arrow{
    animation: arrowUp .2s forwards ease-in;
  }
        }
        
    }

}
.navContainer.inactiveNavBar{
    animation:slideLeftShrink .2s forwards ease-in;
    .controlButton{

        visibility: visible;
        right:-30px;
    }

}
.navContainer.activeNavBar{
    animation:slideRightGrow .3s forwards ease-in;
}
.navHeader{
    text-align: center;
}
.listContainer{
    overflow-y:auto;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom:2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    
  }
 
.listContainer{
    overflow-y: auto;
    overflow-x:hidden;
    scrollbar-width: none;
}
.controlButton{
    width:40px;
    height:40px;
    position: absolute;
    top:150px;
    right:-20px;
    border:none;    
    background-color: rgba($color: #000000, $alpha: 0.0);
    transition:all .5s;
    .bigArrow{
        
        border: solid white;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 6px;
        margin-bottom:2px;
        transform: rotate(-95deg);
        -webkit-transform: rotate(-45deg);
        
  }
}

:global{
    @keyframes slideLeftShrink{
        0%{
            
        }
        100%{
            transform:translateX(-100%);
            
            visibility:hidden;
        }
    }
    @keyframes slideRightGrow{
        0%{
            transform:translateX(-100%);
        }
        100%{
            transform:translateX(0%);
            
        }
    }
    @keyframes slideDown{
        0%{
            transform: scaleY(0);
        }
        100%{
            transform: scaleY(1);
        }
    }
    @keyframes arrowUp{
        0%{
            transform:rotate(45deg);
        }
        100%{
            
            transform:translateY(4px) rotate(225deg); 
        }
        
    }
    @keyframes arrowDown{
        0%{
            
            transform:translateY(4px) rotate(225deg); 
        }
        100%{
            transform:rotate(45deg);
        }
       
        
    }
}